// Module specific configurations
process {
    withName: 'COLABFOLD_BATCH*' {
                ext.args = { [
                    '--templates',
                    '--amber',
                    '--use-gpu-relax',
                    params.host_url ? "--host-url ${params.host_url}" : '',
                ].join(' ').trim()}
            }
}
